* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #ffffff;
}

.buttons {
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons:hover {
    background-color: #dcecdd;
}

.starting-screen-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

.new-session {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.recent-session {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.players-required-wrapper {
    display: flex;
    align-items: center;
}

.players-required {
    font-size: 20px;
}

.players-length-input {
    text-align: center;
    font-size: 32px;
    width: 45px;
    margin-left: 2px;
    padding: 2px 2px;
    border: 2px solid #4CAF50;
    color: rgb(85, 85, 85);
    outline: none;
    transition-duration: 0.4s;
}

.players-length-input:focus {
    background-color: #dcecdd;
}

.add-players {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.reset-session {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.session-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.player-wrapper {
    display: inline-block;
    margin: 15px;
    background-color: white;
}

.player-placeholder {
    background-color: black;
}

.url-navigation-wrapper {
    display: flex;
    width: 100%;
}

.url-input {
    width: 80%;
    height: 40px;
    border: 2px solid #4CAF50;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.url-input:focus {
    background-color: #dcecdd;
}

.start-stream-button {
    width: 20%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    background-color: white; 
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.start-stream-button:hover {
    background-color: #dcecdd;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(34, 34, 34);
    font-size: 14px;
}

@media only screen and (max-width: 550px) {
    .buttons {
        padding: 10px 10px;
        height: 55px;
        font-size: 14px;
        cursor: none;
    }
    
    .buttons:hover {
        background-color: transparent;
    }
    
    .players-required-wrapper {
        justify-content: flex-start;
    }
    
    .players-required {
        width: 63px;
        font-size: 17px;
    }
    
    .players-length-input {
        margin-left: 2px;
    }
    
    .url-input {
        font-size: inherit;
    }
    
    
    .start-stream-button {
        font-size: 14px;
        cursor: none;
    }
    
    .start-stream-button:hover {
        background-color: transparent;
    }
    
    .footer {
        font-size: 13px;
    }
}