* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #ffffff;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.players-required {
    font-size: 20px;
}

.players-input {
    display: flex;
    align-items: center;
}

.players-amount-input {
    text-align: center;
    font-size: 32px;
    margin-left: 10px;
    padding: 4px;
    border: 2px solid #4CAF50;
    color: rgb(85, 85, 85);
    outline: none;
    transition-duration: 0.4s;
}

.players-amount-input:focus {
    background-color: #dcecdd;
}

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #dcecdd;
  }

.init-session {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.reset-session {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.session-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.player-wrapper {
    display: inline-block;
    margin: 15px;
    background-color: white;
}

.player-placeholder {
    background-color: black;
}

.url-navigation-wrapper {
    width: 100%;
}

.url-input {
    width: 80%;
    height: 40px;
    border: 2px solid #4CAF50;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.url-input:focus {
    background-color: #dcecdd;
}

.start-stream-button {
    width: 20%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    background-color: white; 
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.start-stream-button:hover {
    background-color: #dcecdd;
}


